{% load static %}	
<!DOCTYPE html>
<html>
  <head>
    <title>IME</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
		</style>
  </head>
  <body class="is-preload">
			
    <!-- Wrapper -->
    
		<!-- Main -->
		<div id="main">
		  <div class="inner">
			<!-- Header -->
			<header id="header">
				<div class="inner">
					<h1>IME Dictionary</h1>
				</div>
			</header>
			<!-- Section -->
			<section>
				<form>
					<div>
					  <input type="search" id="mySearch" name="q" class="mybtn">
					  <button class="mybtn">Search</button>
					</div>
				</form>
			</section>
			<section>
				<div>
					<!--메인-->
					<p>
						<a href="{% url 'analytic' %}">Analytical Techniques & Operations Research
							
	
							</a>
					</p>
					<p>
						<a href="{% url 'Anthropometry' %}">Anthropometry & Biomechanics</a>
					</p>
					<p>
						<a href="{% url 'Computer' %}">Computer & Information Systems</a> 
					</p>
					<p>
						<a href="{% url 'Cost' %}">Cost Engineering & Project Management</a> 
					</p>
					<p>
						<a href="{% url 'Distribution' %}">Distribution & Marketing</a> 
					</p>
					<p>
						<a href="{% url 'Employee' %}">Employee & Industrial Relations
							
							</a> 
					</p>
					<p>
						<a href="{% url 'Engineering' %}">Engineering Economy</a> 
					</p>
					<p>
						<a href="{% url 'Facility' %}">Facility Planning & Design</a> 
					</p>
					<p>
						<a href="{% url 'Human' %}">Human Factors (Ergonomics) Engineering</a> 
					</p>
					<p>
						<a href="{% url 'Management' %}">Management</a> 
					</p>
					<p>
						<a href="{% url 'Manufacturing' %}">Manufacturing Systems</a> 
					</p>
					<p>
						<a href="{% url 'Material' %}">Materials Processing
							</a> 
					</p>
					<p>
						<a href="{% url 'Occupational' %}">Occupational Health & Safety</a> 
					</p>
					<p>
						<a href="{% url 'Operation' %}">Operations & Inventory Planning & Control</a>
					</p>
					<p>
						<a href="{% url 'Organization' %}">Organization Planning and Theory</a> 
					</p>
					<p>
						<a href="{% url 'Quality' %}">Quality Assurance & Reliability</a> 
					</p>
					<p>
						<a href="{% url 'Work' %}">Work Design and Measurement</a> 
					</p>

				</div>
				{% for i in companys.all %}
				<p>
						<a href="{% url 'detail'  i.id %}">{{i.term}}</a>
				</p>	
			   {% endfor %}
			</section>

		  </div>
		</div>
	</div>
	  <!-- Scripts -->
	  <script src="{% static 'js/jquery.min.js' %}"></script>
	  <script src="{% static 'js/browser.min.js' %}"></script>
	  <script src="{% static 'js/breakpoints.min.js' %}"></script>
	  <script src="{% static 'js/util.js' %}"></script>
	  <script src="{% static 'js/main.js' %}"></script>
	</body>
  </html>

